body{margin:8%}
input{width: 650px;
     height: 50px;
     font-size: 21px;
     background-color: gray;
     border: maroon 3px solid;
     border-radius: 10px;
     padding-left: 18px;
     color: white;}
   input:focus{transition: width linear 1s;
        width: 80%;
        background-color: brown;}  

   ::placeholder{color: aquamarine;}
 
 input:hover{background-color: darkmagenta;}  
   

 
button{width: 130px;
      height: 55px;
      background-color: mediumblue;
      color: white;
      /* border-radius: 8px; */
      font-size: 22px;
      font-weight: 700;
    }
 button:hover{background-color: red;}
 


 .new-tag{
     border: 2px red solid;
     border-radius: 10px;
     background-color: coral;
     padding:10px;
     margin: 5px;

 }

h4{display: inline;}

#div{   display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-gap: 10px;}